body {
  background: black;
  margin: 0;
}

@font-face {
  font-family: 'EnglishTowne';
  src: url('fonts/EnglishTowne.ttf') format('truetype');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}





  
:root {
  --glow-size: 15rem;
  --glow-size-hover: 25rem;
}

#glow {
  background-color: rgb(255, 255, 255);
  height: var(--glow-size);
  aspect-ratio: 1;
  position: fixed;
  filter: blur(6rem);
  border-radius: 50%;
  opacity: 0.6;
  transform: translate(-50%, -50%);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out 0s, filter 0.5s;
}



#glow.hover {
  height: var(--glow-size-hover);
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.6;
  filter: blur(8rem);
  animation: animateHeight 0.2s ease-in-out;
}

@keyframes animateHeight {
  from {
    height: var(--glow-size);
    filter: blur(6rem);
  }
  to {
    height: var(--glow-size-hover);
    filter: blur(8rem);
  }
}



#glow.reset {
  transform: translate(-50%, -50%) scale(1);
  height: var(--glow-size);
  animation: resetHeight 0.5s ease;
}

@keyframes resetHeight {
  from {
    height: var(--glow-size-hover);
  }
  to {
    height: var(--glow-size);
  }
}










p {
  font-family: EnglishTowne;
  opacity: 1;
  color: rgb(0, 0, 0);
  font-size: 10rem;
  text-align: center;
  margin: 0;
  z-index: 1;
  padding: 1rem;
  margin-bottom: 10rem;
}